@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'react-toastify/dist/ReactToastify.min.css';
@import 'flag-icons/css/flag-icons.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  color: theme('colors.dark-charcoal');
}

#root {
  width: 100vw;
  height: 100vh;
  scrollbar-color: #ffe9ad #f1f1f1;
}

::-webkit-scrollbar {
  width: 7px;
  height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffe9ad;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: theme('colors.primary');
}

/* Target the scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}