name: Build

on:
  push:
    branches: [ main, dev ]

permissions:
  id-token: write
  contents: read
  issues: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        name: Checkout Repository

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Run npm install
        run: pnpm install

      - name: Run npm build
        run: pnpm build           